# HTTP requests
requests==2.32.3

# DNS resolution (lebih powerful daripada socket)
dnspython==2.6.1

# Concurrency (async scanning, optional tapi recommended)
aiohttp==3.10.5

# Untuk pretty output / warna CLI
colorama==0.4.6
rich==13.9.2

# LDAP & SMTP enumeration
ldap3==2.9.1

# Optional SMB/FTP enumeration
impacket==0.11.0
paramiko==3.5.0
